@import "helpers/variables";
@import "helpers/mixins";
@import "helpers/functions";
@import "vendor/libs";
@import "base/fonts";
@import "base/general";
@import "../blocks/modules";

$white: #ffffff;
$accent-clr: #65e496;
$grey: #696980;
$bg_light_grey: #f5f6fa;
$bg_dark: #44444f;
$dark_green: #5fc9b8;

*,
*:after,
*:before {
	box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	padding: 0;
	margin: 0;
}

.container {
	width: 100%;
	max-width: 1173px;
	padding: 0;
	margin: 0 auto;
}
body {
	font-family: "Roboto Slab", sans-serif;
}
header {
	color: $white;
	background-color: #536472;
	background-image: linear-gradient(-60deg, #54b7a1 0%, #426384 100%);

	z-index: 1;
	padding-top: 53px;
	padding-bottom: 162px;
}

.header__wrap {
	display: flex;
	justify-content: space-between;
	align-items: center;

	height: 32px;

	margin-bottom: 185px;
}
.header__logo {
	display: block;
	width: 137px;
	height: 28px;

	z-index: 99999;
}
.header-list {
	display: flex;
	list-style: none;
}
.header-list__link {
	color: #ffffff;
	font-family: "Open Sans";
	font-size: 16px;
	font-weight: 400;
	letter-spacing: 0.8px;
	text-decoration: none;
}
.header-list__item {
	margin-left: 15px;
	padding-bottom: 8px;
	cursor: pointer;
	border-bottom: 3px solid transparent;
	transition: border-bottom 0.1s linear;
}
.header-list__item.active {
	border-bottom: 3px solid $accent-clr;
}

.header-list__item:hover {
	border-bottom: 3px solid #65e496;
}

.block-book {
	display: flex;
	justify-content: space-between;
}
.block-book {
	position: relative;
}
.block-book__wrap {
	position: relative;
}
.block-book__name {
	position: absolute;
	top: 118px;
	left: 50%;
	transform: translateX(-50%);

	text-align: center;
}
.block-book__title {
	font-size: 36px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 1.44px;

	margin-bottom: 13px;
}
.block-book__subtitle {
	color: $accent-clr;
	font-family: "Open Sans";
	font-size: 14px;
	font-weight: 400;
	letter-spacing: 0.7px;
}
.block-book__author {
	position: absolute;
	bottom: 56px;
	left: 85px;

	color: $accent-clr;
	font-family: "Open Sans";
	font-size: 14px;
	font-weight: 400;
	letter-spacing: 0.7px;
}

.block-about {
	margin-right: 40px;
}
.block-about__author {
	color: $white;
	font-family: "Open Sans";
	font-size: 18px;
	font-weight: 400;
	letter-spacing: 0.9px;

	margin-bottom: 39px;
}
.block-about__title {
	color: $white;
	font-size: 48px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 1.92px;

	margin-bottom: 22px;
}
.block-about__subtitle {
	color: $accent-clr;
	font-size: 18px;
	font-weight: 400;
	letter-spacing: 0.9px;

	margin-bottom: 45px;
}
.block-about__text {
	font-family: "Open Sans";
	font-size: 15px;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: 0.75px;

	margin-bottom: 64px;
}
.button {
	padding: 15px 26px;

	text-align: center;
	text-decoration: none;
	color: $white;
	font-family: "Roboto Slab";
	font-size: 18px;
	font-weight: 400;
	letter-spacing: 0.72px;

	width: 250px;
	height: 48px;
	box-shadow: 0 2px 0 rgba(101, 228, 125, 0.5);
	border-radius: 3px;
	background-color: #65e47d;
	background-image: linear-gradient(
		to left,
		rgba(101, 228, 206, 0.7) 0%,
		rgba(101, 228, 161, 0.7) 100%
	);
}

.block-about__note {
	font-family: "Open Sans";
	font-size: 12px;
	letter-spacing: 0.6px;

	margin-top: 39px;
}

.header-main__book {
	display: block;
	border-radius: 5px;
	margin-right: 54px;
}

// ABOUT
.about {
	padding: 180px 0 162px 0;
}
.about__wrap {
	display: flex;
	justify-content: space-between;
}
.button--size {
	width: 238px;
	height: 48px;

	padding: 15px 30px;
}
.about-block {
	margin-right: 69px;
	margin-bottom: 203px;
}
.about_author--margin {
	color: $grey;
	margin-bottom: 31px;
}
.block-about__title--color{
	color : $bg_dark;
}

.about-block__img {
	position: relative;
	margin-top: 14px;
}
.about-block__img--bg {
	position: absolute;
	top: 0;
	right: 0;
	transform: translate3d(44px, -48px, 0);

	width: 435px;
	height: 558px;
	background-color: #44444f;
	background-image: linear-gradient(-60deg, #5acab1 0%, #426384 100%);

	z-index: -1;
}
.about-block__statistic {
	display: flex;
	justify-content: space-around;
	text-align: center;
}
.about-block__item__numb {
	color: $accent-clr;
	font-size: 80px;
	font-weight: 100;
	letter-spacing: 3.2px;

	margin-bottom: 21px;
}
.about-block__item__text {
	color: $grey;
	font-size: 18px;
	font-weight: 400;
	letter-spacing: 0.72px;
}

// content
.content {
	background-color: $bg_light_grey;
	padding: 156px 0 273px 0;
}
.heading {
	text-align: center;
}
.heading__title {
	color: $bg_dark;
	font-size: 48px;
	font-weight: 700;
	letter-spacing: 1.92px;

	margin-bottom: 22px;
}
.heading__subtitle {
	color: $accent-clr;
	font-size: 18px;
	font-weight: 400;
	letter-spacing: 0.9px;

	margin-bottom: 90px;
}
.content__wrap {
	display: flex;
	justify-content: space-between;
}
.about__title {
	color: $bg_dark;
	font-size: 24px;
	font-weight: 700;
	letter-spacing: 1.2px;

	margin-bottom: 29px;
}
.about__text {
	width: 463px;

	color: $grey;
	font-family: "Open Sans";
	font-size: 15px;
	font-weight: 400;
	line-height: 1.7;
	letter-spacing: 0.75px;

	margin-bottom: 37px;
}
.content-social {
	display: flex;
	align-items: center;

	color: $bg_dark;
	font-size: 18px;
	font-weight: 700;
	letter-spacing: 0.9px;
}
.content-links__text {
	margin-right: 14px;
}
.table__title {
	color: $bg_dark;
	font-size: 24px;
	font-weight: 700;
	letter-spacing: 1.2px;

	margin-bottom: 34px;
}
.table-list {
	list-style: none;
	column-count: 2;

	color: $grey;
	font-family: "Open Sans";
	font-size: 15px;
	font-weight: 400;
	letter-spacing: 0.75px;
	counter-reset: list;

	margin-bottom: 55px;
}
.table-list li {
	position: relative;
	counter-increment: list;
	list-style-type: none;

	padding-left: 30px;
	margin-bottom: 16px;
}
.table-list li:before {
	content: counter(list) ".";
}
.table-list li:after {
	content: "+";
	position: absolute;
	left: 0;
	top: 0;

	color: $white;
	font-family: "Open Sans";
	font-size: 15px;
	font-weight: 400;
	padding: 1px 5px;
	background-color: $dark_green;
}
.content_btn {
	width: 135px;
	height: 48px;
	box-shadow: 0 2px 0 rgba(101, 228, 125, 0.5);
	border-radius: 3px;
	background-color: #65e47d;
	background-image: linear-gradient(
		to left,
		rgba(101, 228, 206, 0.7) 0%,
		rgba(101, 228, 161, 0.7) 100%
	);

	color: $white;
	font-family: "Roboto Slab";
	font-size: 18px;
	font-weight: 400;
	letter-spacing: 0.72px;
	outline: none;

	border: none;
}
.content-social i {
	color: $accent-clr;
	margin-left: 10px;
	font-size: 18px;
}

// OTHER BOOK
.other {
	padding: 155px 0 178px 0;
}
.other__wrap {
	display: flex;
	justify-content: space-around;

	margin-bottom: 106px;
}
.other_item {
	margin-right: 85px;
}
.other_item:last-child {
	margin-right: 0;
}
.other__wrap-book {
	display: flex;
	flex-direction: column;
	align-items: center;
	min-height: 409px;
	position: relative;

	margin-bottom: 37px;
}
.other__item-wrap {
	position: absolute;
	top: 74px;
	left: 50%;
	transform: translateX(-35%);

	text-align: center;
}
.other__title {
	color: $white;
	font-size: 24px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.96px;

	margin-bottom: 16px;
}
.other__subtitle {
	color: $accent-clr;
	font-family: "Open Sans";
	font-size: 12px;
	font-weight: 400;
	letter-spacing: 0.6px;
}
.other__author {
	position: absolute;
	bottom: 32px;
	left: 50%;
	transform: translateX(-35%);

	color: $accent-clr;
	font-family: "Open Sans";
	font-size: 12px;
	font-weight: 400;
	letter-spacing: 0.6px;
}
.other__dscr {
	text-align: center;
}
.other__dscr_title {
	color: $bg_dark;
	font-size: 24px;
	font-weight: 700;
	letter-spacing: 1.2px;

	margin-bottom: 21px;
}
.other__dscr_text {
	color: $grey;
	font-family: "Open Sans";
	font-size: 15px;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: 0.75px;

	margin-bottom: 30px;
}
.other__dscr_link {
	color: $accent-clr;
	font-family: "Open Sans";
	font-size: 15px;
	font-weight: 700;
	text-transform: uppercase;
	letter-spacing: 0.75px;

	text-decoration: none;
}
.other__btn {
	display: block;
	width: 224px;
	padding: 16px 34px;

	box-shadow: 0 2px 0 rgba(101, 228, 125, 0.5);
	border-radius: 3px;
	background-color: $accent-clr;
	background-image: linear-gradient(
		to left,
		rgba(101, 228, 206, 0.7) 0%,
		rgba(101, 228, 161, 0.7) 100%
	);

	text-align: center;
	margin: 0 auto;

	color: $white;
	font-family: "Roboto Slab";
	font-size: 18px;
	font-weight: 400;
	letter-spacing: 0.72px;
	text-decoration: none;
}

//EVENTS
.event {
	padding-top: 163px;
}
.about-block--event{
	margin-right: 0;
}
.about-block__img-event{
	margin-top: 49px;
}
.about-block__img--bg_reviews{
	position: absolute;
	top: 0;
	left: 0;
	transform: translate3d(-56px, -49px, 0);

	width: 435px;
	height: 704px;
	background-color: #44444f;
	background-image: linear-gradient(-60deg, #426384 0%, #5acab1 100%);
}
.about_img--event{
	margin-right: 108px;
}
.event--author{
	margin-bottom: 18px;

	font-family: "Open Sans";
	font-size: 18px;
	font-weight: 400;
	letter-spacing: 0.9px;
}
.block-about__title--event{
	text-transform: none;
	margin-bottom: 13px;
}
.event__item{
	margin-bottom: 77px;
}
.event__date { 
	color: $grey;
	font-family: "Open Sans";
	font-size: 15px;
	font-weight: 400;
	letter-spacing: 0.75px;

	margin-bottom: 13px;
}
.event__location { 
	color: $bg_dark;
	font-family: "Roboto Slab";
	font-size: 18px;
	font-weight: 700;
	letter-spacing: 0.9px;

	margin-bottom: 23px;
}
.event__text { 
	color: $grey;
	font-family: "Open Sans";
	font-size: 15px;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: 0.75px;

	margin-bottom: 45px;
}
.event__btn  {
	
	padding: 15px 30px  ;
	box-shadow: 0 2px 0 rgba(101, 228, 125, 0.5);
	border-radius: 3px;
	background-color: #65e47d;
	background-image: linear-gradient(to left, rgba(101, 228, 206, 0.7) 0%, rgba(101, 228, 161, 0.7) 100%);

	color: $white;
	font-family: "Roboto Slab";
	font-size: 18px;
	font-weight: 400;
	letter-spacing: 0.72px;

	text-decoration: none;
}


// LATEST
.latest { 
	padding: 159px 0 175px 0;
	background-color: $bg_light_grey;
}
.latest__wrap{
	display: flex;
	justify-content: space-between;
	padding: 0 350px 0 350px;

	margin-bottom: 102px;
}
.latest__item{
	width: 371px;
	
	margin-right: 30px;
	text-align: left;
}
.latest__img{
	margin-bottom: 21px;
}
.latest__name{
	color: $bg_dark;
	font-size: 18px;
	font-weight: 700;
	letter-spacing: 0.9px;

	margin-bottom: 10px;
}
.latest_author{
	color: $accent-clr;
	font-family: "Open Sans";
	font-size: 15px;
	font-weight: 400;
	letter-spacing: 0.75px;

	margin-bottom: 20px;
}
.latest_author span{
	color: #80809b;
	
}
.latest__text{ 
	color: $grey;
	font-family: "Open Sans";
	font-size: 15px;
	font-weight: 400;
	line-height: 24px;
	letter-spacing: 0.75px;
}
.latest__btn{
	color: $white;
	font-family: "Roboto Slab";
	font-size: 18px;
	font-weight: 400;
	letter-spacing: 0.72px;

	text-decoration: none;
	padding: 16px 32px;

	width: 265px;
	height: 48px;
	box-shadow: 0 2px 0 rgba(101, 228, 125, 0.5);
	border-radius: 3px;
	background-color: #65e47d;
	background-image: linear-gradient(to left, rgba(101, 228, 206, 0.7) 0%, rgba(101, 228, 161, 0.7) 100%);

	margin: 0 auto;
}


