<!DOCTYPE html>
<html lang="ru">
	<head>
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<title>Bukee</title>
		<meta name="theme-color" content="#fff" />
		<meta
			name="apple-mobile-web-app-status-bar-style"
			content="black-translucent"
		/>
		<meta
			name="viewport"
			content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0"
		/>
		<link
			rel="shortcut icon"
			href="img/favicons/favicon.ico"
			type="image/x-icon"
		/>
		<link
			rel="icon"
			sizes="16x16"
			href="img/favicons/favicon-16x16.png"
			type="image/png"
		/>
		<link
			rel="icon"
			sizes="32x32"
			href="img/favicons/favicon-32x32.png"
			type="image/png"
		/>
		<link
			rel="apple-touch-icon-precomposed"
			href="img/favicons/apple-touch-icon-precomposed.png"
		/>
		<link rel="apple-touch-icon" href="img/favicons/apple-touch-icon.png" />
		<link
			rel="apple-touch-icon"
			sizes="57x57"
			href="img/favicons/apple-touch-icon-57x57.png"
		/>
		<link
			rel="apple-touch-icon"
			sizes="60x60"
			href="img/favicons/apple-touch-icon-60x60.png"
		/>
		<link
			rel="apple-touch-icon"
			sizes="72x72"
			href="img/favicons/apple-touch-icon-72x72.png"
		/>
		<link
			rel="apple-touch-icon"
			sizes="76x76"
			href="img/favicons/apple-touch-icon-76x76.png"
		/>
		<link
			rel="apple-touch-icon"
			sizes="114x114"
			href="img/favicons/apple-touch-icon-114x114.png"
		/>
		<link
			rel="apple-touch-icon"
			sizes="120x120"
			href="img/favicons/apple-touch-icon-120x120.png"
		/>
		<link
			rel="apple-touch-icon"
			sizes="144x144"
			href="img/favicons/apple-touch-icon-144x144.png"
		/>
		<link
			rel="apple-touch-icon"
			sizes="152x152"
			href="img/favicons/apple-touch-icon-152x152.png"
		/>
		<link
			rel="apple-touch-icon"
			sizes="167x167"
			href="img/favicons/apple-touch-icon-167x167.png"
		/>
		<link
			rel="apple-touch-icon"
			sizes="180x180"
			href="img/favicons/apple-touch-icon-180x180.png"
		/>
		<link
			rel="apple-touch-icon"
			sizes="1024x1024"
			href="img/favicons/apple-touch-icon-1024x1024.png"
		/>
		<link
			href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400&family=Roboto+Slab:wght@100;400;700&display=swap"
			rel="stylesheet"
		/>
		<link rel="stylesheet" href="styles/main.css" />
	</head>
	<body>
		@@include("../blocks/modules/header/header.html")
		@@include("../blocks/modules/footer/footer.html")
		<!-- HEADER -->
		<header class="header">
			<div class="container">
				<div class="header__wrap">
					<a href="#" class="header__logo">
						<img src="/img/logo.png" alt="#" />
					</a>
					<ul class="header-list">
						<li class="header-list__item active">
							<a class="header-list__link" href="#">Home</a>
						</li>
						<li class="header-list__item">
							<a class="header-list__link" href="#">About</a>
						</li>
						<li class="header-list__item">
							<a class="header-list__link" href="#">Contents</a>
						</li>
						<li class="header-list__item">
							<a class="header-list__link" href="#">Books</a>
						</li>
						<li class="header-list__item">
							<a class="header-list__link" href="#">Education</a>
						</li>
						<li class="header-list__item">
							<a class="header-list__link" href="#">Skills</a>
						</li>
						<li class="header-list__item">
							<a class="header-list__link" href="#">Portfolio</a>
						</li>
						<li class="header-list__item">
							<a class="header-list__link" href="#">Clients</a>
						</li>
						<li class="header-list__item">
							<a class="header-list__link" href="#">Contact</a>
						</li>
					</ul>
				</div>
				<div class="header-main">
					<div class="block-book">
						<div class="block-book__wrap">
							<div class="block-book__name">
								<h2 class="block-book__title">Good book</h2>
								<div class="block-book__subtitle">
									Don’t judge a book by its cover
								</div>
							</div>
							<div class="header-main__book-img">
								<img
									class="header-main__book"
									src="/img/book.jpg"
									alt="#"
								/>
							</div>
							<div class="block-book__author">
								- By Emma Anderson
							</div>
						</div>
						<div class="block-about">
							<div class="block-about__author">
								- By Emma Anderson
							</div>
							<h1 class="block-about__title">BUKEE: THE BOOK</h1>
							<div class="block-about__subtitle">
								A room without books is like a body without a
								soul
							</div>
							<div class="block-about__text">
								<p>
									Lorem ipsum dolor sit amet, consectetur
									adipisicing elit, sed do eiusmod tempor
									incididunt ut labore et dolore magna aliqua.
									Ut enim ad minim veniam, quis nostrud
									exercitation ullamco laboris nisi ut aliquip
									ex ea commodo consequat.
								</p>

								<p>
									Duis aute irure dolor in reprehenderit in
									voluptate velit esse cillum dolore eu fugiat
									nulla pariatur. Excepteur sint occaecat
									cupidatat non proident, sunt in culpa qui
									officia deserunt mollit anim id est laborum.
									Sed ut perspiciatis unde omnis iste natus
									error sit voluptatem accusantium doloremque.
								</p>
							</div>
							<a href="#" class="button"
								>Buy this book - $15.00
							</a>
							<div class="block-about__note">
								* Some conditions may applicable
							</div>
						</div>
					</div>
				</div>
			</div>
		</header>
		<!-- /HEADER -->

		<!-- ABOUT -->
		<section class="about">
			<div class="container">
				<div class="about__wrap">
					<div class="about-block">
						<div class="block-about__author about_author--margin">
							- Book Author
						</div>
						<h1 class="block-about__title">BUKEE: THE BOOK</h1>
						<div class="block-about__subtitle">
							A room without books is like a body without a soul
						</div>
						<div class="block-about__text">
							<p>
								Lorem ipsum dolor sit amet, consectetur
								adipisicing elit, sed do eiusmod tempor
								incididunt ut labore et dolore magna aliqua. Ut
								enim ad minim veniam, quis nostrud exercitation
								ullamco laboris nisi ut aliquip ex ea commodo
								consequat.
							</p>

							<p>
								Duis aute irure dolor in reprehenderit in
								voluptate velit esse cillum dolore eu fugiat
								nulla pariatur. Excepteur sint occaecat
								cupidatat non proident, sunt in culpa qui
								officia deserunt mollit anim id est laborum. Sed
								ut
							</p>
						</div>
						<a href="#" class="button button--size"
							>Read full biography
						</a>
					</div>

					<div class="about-block__img">
						<div class="about-block__img--bg"></div>
						<img
							src="/img/index_03.jpg"
							alt="#"
							class="about_img"
						/>
					</div>
				</div>

				<div class="about-block__statistic">
					<div class="about-block__item">
						<div class="about-block__item__numb">12</div>
						<div class="about-block__item__text">
							Total published books
						</div>
					</div>
					<div class="about-block__item">
						<div class="about-block__item__numb">5</div>
						<div class="about-block__item__text">Happy readers</div>
					</div>
					<div class="about-block__item">
						<div class="about-block__item__numb">15,000</div>
						<div class="about-block__item__text">Happy readers</div>
					</div>
				</div>
			</div>
		</section>
		<!-- /.about -->

		<!-- CONTENT -->
		<section class="content">
			<div class="container">
				<div class="heading">
					<h2 class="heading__title">Book Contents</h2>
					<div class="heading__subtitle">
						Let’s see what we have covered in the book
					</div>
				</div>
				<div class="content__wrap">
					<div class="content-block__about">
						<h2 class="about__title">About the book</h2>
						<div class="about__text">
							<p>
								Lorem ipsum dolor sit amet, consectetur
								adipisicing elit, sed do eiusmod tempor
								incididunt ut labore et dolore magna ali qua. Ut
								enim ad minim veniam, quis nostrud exercitation
								ull amco laboris nisi ut aliquip ex ea commodo
								consequat. Duis aute irure dolor in
								reprehenderit in voluptate velit esse cillu m
								dolore eu fugiat nulla pariatur.
							</p>
						</div>

						<div class="content-social">
							<div class="content-links__text">Featured in:</div>
							<a href="#" class="content_link">
								<i class="fab fa-stack-overflow"></i>
							</a>

							<a href="#" class="content_link">
								<i class="fab fa-amazon"></i>
							</a>

							<a href="#" class="content_link">
								<i class="fab fa-sass"></i>
							</a>
						</div>
					</div>

					<div class="content-block__table">
						<div class="table__title">Table of contents</div>
						<ul class="table-list">
							<li>
								<img
									src="/img"
									alt=""
									class="table-list__img"
								/>Lorem ipsum dolor sit amet
							</li>
							<li>
								<img
									src="/img"
									alt=""
									class="table-list__img"
								/>Consectetur adipisicing elit
							</li>
							<li>
								<img
									src="/img"
									alt=""
									class="table-list__img"
								/>Labore et dolore magna
							</li>
							<li>
								<img
									src="/img"
									alt=""
									class="table-list__img"
								/>Consectetur adipisicing elit
							</li>
							<li>
								<img
									src="/img"
									alt=""
									class="table-list__img"
								/>Labore et dolore magna
							</li>
							<li>
								<img
									src="/src/img/plus.png"
									alt=""
									class="table-list__img"
								/>Lorem ipsum dolor sit amet
							</li>
							<li>
								<img
									src="/img"
									alt=""
									class="table-list__img"
								/>Consectetur adipisicing elit
							</li>
							<li>
								<img
									src="/img"
									alt=""
									class="table-list__img"
								/>Labore et dolore magna
							</li>
							<li>
								<img
									src="/img"
									alt=""
									class="table-list__img"
								/>Consectetur adipisicing elit
							</li>
							<li>
								<img
									src="/src/img/plus.png"
									alt=""
									class="table-list__img"
								/>Labore et dolore magna
							</li>
						</ul>

						<button class="content_btn">More</button>
					</div>
				</div>
			</div>
		</section>
		<!-- /.content -->

		<!-- OTHER BOOK -->
		<section class="other">
			<div class="container">
				<div class="heading">
					<h2 class="heading__title">Other Books</h2>
					<div class="heading__subtitle">
						Some books you might be interested in
					</div>
				</div>

				<div class="other__wrap">
					<div class="other_item">
						<div class="other__wrap-book">
							<img
								src="img/other_book.svg"
								alt="#"
								class="other__img"
							/>
							<div class="other__item-wrap">
								<div class="other__title">
									Inception
								</div>
								<div class="other__subtitle">
									Books are the best friends
								</div>
							</div>
							<div class="other__author">- By Emma Anderson</div>
						</div>
						<div class="other__dscr">
							<div class="other__dscr_title">Inception</div>
							<div class="other__dscr_text">
								Lorem ipsum dolor sit amet, consectetur
								adipiscing elit, sed do eiusmod tempor
								incididunt ut labore et dolore
							</div>
							<a href="#" class="other__dscr_link">READ MORE</a>
						</div>
					</div>

					<div class="other_item">
						<div class="other__wrap-book">
							<img
								src="img/other_book.svg"
								alt="#"
								class="other__img"
							/>
							<div class="other__item-wrap">
								<div class="other__title">
									Fight Club
								</div>
								<div class="other__subtitle">
									Books are the best friends
								</div>
							</div>
							<div class="other__author">- By Emma Anderson</div>
						</div>
						<div class="other__dscr">
							<div class="other__dscr_title">Fight Club</div>
							<div class="other__dscr_text">
								Lorem ipsum dolor sit amet, consectetur
								adipiscing elit, sed do eiusmod tempor
								incididunt ut labore et dolore
							</div>
							<a href="#" class="other__dscr_link">READ MORE</a>
						</div>
					</div>

					<div class="other_item">
						<div class="other__wrap-book">
							<img
								src="img/other_book.svg"
								alt="#"
								class="other__img"
							/>
							<div class="other__item-wrap">
								<div class="other__title">
									Daredevils
								</div>
								<div class="other__subtitle">
									Books are the best friends
								</div>
							</div>
							<div class="other__author">- By Emma Anderson</div>
						</div>
						<div class="other__dscr">
							<div class="other__dscr_title">Daredevils</div>
							<div class="other__dscr_text">
								Lorem ipsum dolor sit amet, consectetur
								adipiscing elit, sed do eiusmod tempor
								incididunt ut labore et dolore
							</div>
							<a href="#" class="other__dscr_link">READ MORE</a>
						</div>
					</div>
				</div>

				<a href="#" class="other__btn">Browse all books</a>
			</div>
			<!-- /container -->
		</section>
		<!-- /other book -->
		<script src="js/main.js"></script>
		<script src="js/vendor.js"></script>
		<script
			src="https://kit.fontawesome.com/b8f112b391.js"
			crossorigin="anonymous"
		></script>
	</body>
</html>
